.index {
  display: flex;
  flex-direction: column;
  padding: 0px 70px;
}
.index1,
.index2 {
  min-height: 60vh;
  display: flex;
  margin: 40 100px;
  padding-bottom: 70px;
  align-items: center;
}
.index11,
.index21 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: baseline;
}
.index21 {
  margin-left: 50px;
}
.index12 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-left: 50px;
}
.index12 img,
.index22 img {
  max-width: 100%;
  height: auto;
}
.hero-title,
.hero-discription,
.author-title,
.author-discription {
  text-align: left;
  font-weight: bolder;
}
.hero-title {
  font-size: 70px;
  font-family: cursive;
}
.author-title {
  font-size: 50px;
  font-family: cursive;
}
.home-new,
.home-author {
  top: 0;
  color: #007acc;
  font-weight: bolder;
}
.index11-btn,
.index2-btn {
  display: flex;
  justify-content: left;
}
.hero-btn,
.author-btn {
  width: 100px;
  padding: 15px;
  border-radius: 3px;
  border: 0;
  background-color: #007acc;
  color: white;
  margin: 10px;
}
.hero-btn:hover,
.author-btn:hover {
  width: 100px;
  padding: 14px;
  border-radius: 3px;
  border: 1px solid #007acc;
  background-color: #ffffff;
  color: #007acc;
  margin: 10px;
}
@media (width<=425px) {
  .index {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .index1 {
    min-height: 60vh;
    display: flex;
    margin: 0px;
    padding-bottom: 50px;
    flex-direction: column-reverse;
  }
  .index2 {
    min-height: 60vh;
    display: flex;
    margin: 0px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .hero-title {
    font-size: 40px;
    font-family: cursive;
  }
  .index11,
  .index21 {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: left;
    align-items: baseline;
    margin: 20px;
  }
  .index12 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
@media (426px<=width<=665px) {
  .index {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .index1 {
    min-height: 60vh;
    display: flex;
    margin: 0px;
    padding-bottom: 50px;
    flex-direction: column-reverse;
  }
  .index2 {
    min-height: 60vh;
    display: flex;
    margin: 0px;
    padding-bottom: 0px;
    flex-direction: column;
  }
  .hero-title {
    font-size: 40px;
    font-family: cursive;
  }
  .index11,
  .index21 {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: left;
    align-items: baseline;
    margin: 20px;
  }
  .index12 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}
@media (666px<=width<=889px) {
  .index {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .index1 {
    min-height: 40vh;
    display: flex;
    margin: 0px;
    padding-bottom: 50px;
    flex-direction: row;
  }
  .index2 {
    min-height: 60vh;
    display: flex;
    margin: 0px;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero-title {
    font-size: 40px;
    font-family: cursive;
  }
  .index11,
  .index21 {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: left;
    align-items: baseline;
    margin: 20px;
  }
  .index12 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .index22 , .index12{
    width: 40%;
  }
  .index21 , .index11{
    width: 60%;
  }
}
